<%= bootstrap_form_for @request, :remote => true, :authenticity_token => true, :html => {:id => "requestForm"} do |f| %>
	<%= f.text_field :requester, class: "form_content", :data => {:validation => "required"} %> 
	<%= f.select :location, [219, 811, 2540, 3255, 3712], :include_blank => true, class: "form-content" %>
	<%= f.select :sign_type, ["Hook", "Hanging", "Price", "Custom"], :include_blank => true, class: "form-content" %>
	<%= f.text_field :item_number, class: "form_content" %>
	<%= f.text_field :description, class: "form_content" %>
	<%= f.primary "Submit" %>
<% end %>
<div id="errors"></div>