<table class="table table-striped">
	<tr>
		<th>Requester</th>
		<th>Location</th>
		<th>Item No</th>
		<th>Description</th>
		<th>Request Date</th>
	</tr>
	<% @requests.each do |request| %>
		<% if request.fulfilled? %>
			<tr class="danger">
		<% end %>
			<td><%= request.requester %></td>
			<td><%= request.location %></td>
			<td><%= request.item_number %></td>
			<td><%= request.description %></td>
			<td><%= request.created_at.strftime('%m/%d/%y') %></td>
		</tr>
	<% end %>
</table>