<h1>Sign Requests</h1>
	<table class="table table-striped">
		<th>
			<tr>Requester</tr>
			<tr>Location</tr>
			<tr>Item No</tr>
			<tr>Description</tr>
			<tr>Fulfilled?</tr>
			<tr>Fulfilled On</tr>
		</th>
		<% @requests.each do |request| %>
			<tr>
				<td><%= request.requester %></td>
				<td><%= request.location %></td>
				<td><%= request.item_number %></td>
				<td><%= request.description %></td>
				<td><%= request.fulfilled? %></td>
				<td><%= request.fulfilled_on %></td>
			</tr>
		<% end %>
	</table>